{% extends "base.html" %}

{% block content %}

    <h3 id="empty-title" style="display: none; font-weight: normal;">Empty</h3>

    <div class="content">
        <div class="uploads">
            <table id="uploads-table">
                {% for file in uploads %}
                    <tr>
                        <td><p class="file-timestamp">{{ file.timestamp_formatted }}</p></td>
                        <td><p class="file-size">{{ file.size_formatted }}</p></td>
                        <td><a class="file-downloadlink" href="/download/{{ file.id }}">{{ file.filename }}</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <script>
        let emptyTitle = document.querySelector("#empty-title");
        let uploadsTable = document.querySelector("#uploads-table");
        
        if (uploadsTable.innerHTML.trim() === "") {
            emptyTitle.style.display = "block";
        }

    </script>
{% endblock %}