{% extends "base.html" %}

{% block content %}

    <h1 class="title">{% block title %} Uploads {% endblock %}</h1>
    <h3 id="empty-title" style="display: none; font-weight: normal;">Empty</h3>

    <div class="content">

        <div class="uploads">

        {% for file in uploads %}

                <div class="upload">
                    <p class="file-name">{{ file.filename }}</p>
                    <p class="file-timestamp">{{ file.timestamp }}</p>
                    <a class="file-downloadlink" href="/download/{{ file.id }}">Download</a>
                </div>

                <div id="horizontal-line"></div>

        {% endfor %}

        </div>

    </div>

    <script>
        let emptyTitle = document.querySelector("#empty-title");
        let uploadsDiv = document.querySelector(".uploads");
        
        if (uploadsDiv.innerHTML.trim() === "") {
            emptyTitle.style.display = "block";
        }

    </script>
{% endblock %}