body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #303036;
    color: #FFFAFF;
}

.content {
    text-align: center;
}

.nav-div {
    border-bottom: 1px solid #dfc7c7;
    margin-bottom: 2rem;
}

nav {
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

nav a {
    color: #FC5130;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 2rem;
    font-size: 25px;
    text-decoration: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    margin: 5px;
}

.upload {
    margin: 2rem;
}

.file-name {
    color: #FC5130;
}

.file-downloadlink {
    color:#FC5130;
    text-decoration: none;
}

.bio {
    padding: 10px;
    margin: 5px;
    background-color: #ffffff;
    color: #004835;
}

.name a {
    color: #00a36f;
    text-decoration: none;
}


.file-input {
    padding: 1rem;
    padding-left: 5rem;
    color: #FFFAFF;
    font-size: 16px;
    font-weight: bold;
    border-radius: 16px;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
}

.file-submit {
    background-color: #FC5130;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
.file-submit:hover {
    background-color: #bbb;
}

#qr-img {
    margin-top: 2rem;
    width: 250px;
    height: 250px;
}

#horizontal-line {
    border-bottom: 1px solid #534e4e;
    width: 25%;
    margin: auto;
}

.flash-div {
    width: 100%;
    margin: auto;
    text-align: center;
}

.flash-message.error {
    padding: 1rem;
    background-color: #ffae78;
    color: #070707;
    border-radius: 15px;
}

.flash-message.success {
    padding: 1rem;
    background-color: #b9ff78;
    color: #070707;
    border-radius: 15px;
}