body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #303036;
    color: #FFFAFF;
}

.content {
    text-align: center;
    margin-top: 2rem;
}

.nav-div {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #cadfc7;
}

.nav-div nav {
    margin-left: 0;
    margin-right: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.nav-div nav a {
    text-decoration: none;
}

.nav-icon {
    margin: 0 2rem;
    fill: white;
}

@media only screen and (max-width: 600px) {
    /* Adjust styles for mobile devices */
    .nav-icon {
        margin: 0 1rem;
    }
}

.uploads {
    display: flex;
    justify-content: center;
}

#uploads-table {
    text-align: left;
    border-collapse: separate;
    border-spacing: 30px 0;
}

#uploads-table td {
    max-width: 200px;
    overflow-wrap: break-word;
}

.file-size {
    text-align: right;
}

.file-downloadlink {
    color:#c2ff7b;
    text-decoration: none;
}

.file-input {
    padding: 1rem;
    padding-left: 5rem;
    color: #FFFAFF;
    font-size: 16px;
    font-weight: bold;
    border-radius: 16px;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
}

.file-submit {
    background-color: #b9ff78;
    color: #303036;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
.file-submit:hover {
    background-color: #bbb;
}

#qr-img {
    width: 250px;
    height: 250px;
}

.flash-div {
    width: 100%;
    margin: auto;
    text-align: center;
}

.flash-message.error {
    padding: 1rem;
    background-color: #ffae78;
    color: #070707;
    border-radius: 15px;
}

.flash-message.success {
    padding: 1rem;
    background-color: #b9ff78;
    color: #070707;
    border-radius: 15px;
}